body {
    background-image: url('../images/louvrebacg.jpg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.navbar-default {
    background-color: #656565;
    border-color: #1d1d1d;
}

.navbar {
    position: relative;
    min-height: 55px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-brand{
background-image: url("../images/logo-louvre.jpg");
background-repeat: no-repeat;
background-position: top;
text-indent: -9999px;
display: block;
width: 182px;
height: 55px;
}



.container{
    background-color: rgb(244, 246, 247);
    opacity: 0.75;
}

.btn-primary {
    color: #ffffff;
    background-color: #5d5857;
    border-color: #13100f;
}

.jumbotron {
    background-color: #a8a8a8;
}

h5,h6{
    text-align: center;
}
ul{
    text-decoration: none;
}
il{
    text-decoration: none;
}

.error-message{
    font-family: sans-serif;
    display: none;
    padding: 0 0 0 30px;
    color: #ff0000;
}