jd_reservation_index:
    path: /
    defaults:
        { _controller: JDLouvreBundle:Reservation:index, resaCode: null }

jd_reservation_startReservation:
    path: /reservation/
    defaults:
        { _controller: JDLouvreBundle:Reservation:startReservation, resaCode: null }

jd_reservation_startBillets:
    path: /billets/{id}/{resacode}
    defaults:
        _controller: JDLouvreBundle:Reservation:startBillets

jd_reservation_panier:
    path: /panier/{id}/{resacode}
    defaults:
        _controller: JDLouvreBundle:Reservation:panier

jd_reservation_modifier:
    path: /modifier/{id}
    defaults:
        _controller: JDLouvreBundle:Reservation:modifie

jd_reservation_delet:
    path: /supprimer/{id}
    defaults:
        _controller: JDLouvreBundle:Reservation:delet

jd_reservation_add:
    path: /ajourter/{id}
    defaults:
        _controller: JDLouvreBundle:Reservation:add

jd_reservation_stripe:
    path: /stripe/{id}
    defaults:
        _controller: JDLouvreBundle:Reservation:stripe