services:
    jd_reservation.outilsreservation:
        class: JD\LouvreBundle\Services\OutilsReservation\OutilsReservation
        arguments:
            - "@doctrine.orm.entity_manager"
            - '@templating'
            - '@session'

    jd_reservation.outilsbillets:
        class: JD\LouvreBundle\Services\OutilsBillets\OutilsBillets
        arguments:
              - "@doctrine.orm.entity_manager"
              - "@jd_reservation.outilsreservation"
              - '@session'